<settings version="1">
	<section id="service.languagepreferencemanager">
		<category id="General" label="General">
			<group id="1">
				<setting id="enabled" label="30108" type="boolean">
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="log_level" label="Log level" type="integer">
					<default>1</default>
					<constraints>
						<options>
							<option label="NONE">0</option>
							<option label="ERROR">1</option>
							<option label="INFO">2</option>
							<option label="DEBUG">3</option>
						</options>
					</constraints>
					<control type="spinner" format="string"/>
				</setting>
			</group>
			<group id="2" label="30115">
				<setting id="turnSubsOn" label="30113" type="boolean">
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="turnSubsOff" label="30114" type="boolean">
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="useFilename" label="30116" type="boolean">
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting label="30117" type="string" id="filenameRegex">
					<default>audiostream[_|.|-]*\d+|subtitle[_|.|-]*\d+</default>
					<constraints>
						<allowempty>false</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30117</heading>
					</control>
				</setting>
				<setting id="delay" label="30112" type="integer">
					<default>300</default>
					<control type="edit" format="integer">
						<heading>30112</heading>
					</control>
				</setting>
				<setting id="pause" label="30109" type="boolean">
					<default>false</default>
					<control type="toggle"/>
				</setting>
			</group>
		</category>

		<category id="Audio Preferences" label="30104">
			<group id="1">
				<setting id="enableAudio" label="30107" type="boolean">
					<default>false</default>
					<control type="toggle"/>
				</setting>
			</group>
			<group id="2">
				<setting id="AudioLang01" type="integer" label="30101">
					<default>47</default>
					<constraints>
						<options>
							<option label="30201">0</option>
							<option label="30202">1</option>
							<option label="30203">2</option>
							<option label="30204">3</option>
							<option label="30205">4</option>
							<option label="30206">5</option>
							<option label="30207">6</option>
							<option label="30208">7</option>
							<option label="30209">8</option>
							<option label="30210">9</option>
							<option label="30211">10</option>
							<option label="30212">11</option>
							<option label="30213">12</option>
							<option label="30214">13</option>
							<option label="30215">14</option>
							<option label="30216">15</option>
							<option label="30217">16</option>
							<option label="30218">17</option>
							<option label="30219">18</option>
							<option label="30220">19</option>
							<option label="30221">20</option>
							<option label="30222">21</option>
							<option label="30223">22</option>
							<option label="30224">23</option>
							<option label="30225">24</option>
							<option label="30226">25</option>
							<option label="30227">26</option>
							<option label="30228">27</option>
							<option label="30229">28</option>
							<option label="30230">29</option>
							<option label="30231">30</option>
							<option label="30232">31</option>
							<option label="30233">32</option>
							<option label="30234">33</option>
							<option label="30235">34</option>
							<option label="30236">35</option>
							<option label="30237">36</option>
							<option label="30238">37</option>
							<option label="30239">38</option>
							<option label="30240">39</option>
							<option label="30241">40</option>
							<option label="30242">41</option>
							<option label="30243">42</option>
							<option label="30244">43</option>
							<option label="30245">44</option>
							<option label="30246">45</option>
							<option label="30247">46</option>
							<option label="30248">47</option>
						</options>
					</constraints>
					<control type="spinner" format="string"/>
				</setting>
			</group>
			<group id="3">
				<setting id="AudioLang02" type="integer" label="30102">
					<default>47</default>
					<constraints>
						<options>
							<option label="30201">0</option>
							<option label="30202">1</option>
							<option label="30203">2</option>
							<option label="30204">3</option>
							<option label="30205">4</option>
							<option label="30206">5</option>
							<option label="30207">6</option>
							<option label="30208">7</option>
							<option label="30209">8</option>
							<option label="30210">9</option>
							<option label="30211">10</option>
							<option label="30212">11</option>
							<option label="30213">12</option>
							<option label="30214">13</option>
							<option label="30215">14</option>
							<option label="30216">15</option>
							<option label="30217">16</option>
							<option label="30218">17</option>
							<option label="30219">18</option>
							<option label="30220">19</option>
							<option label="30221">20</option>
							<option label="30222">21</option>
							<option label="30223">22</option>
							<option label="30224">23</option>
							<option label="30225">24</option>
							<option label="30226">25</option>
							<option label="30227">26</option>
							<option label="30228">27</option>
							<option label="30229">28</option>
							<option label="30230">29</option>
							<option label="30231">30</option>
							<option label="30232">31</option>
							<option label="30233">32</option>
							<option label="30234">33</option>
							<option label="30235">34</option>
							<option label="30236">35</option>
							<option label="30237">36</option>
							<option label="30238">37</option>
							<option label="30239">38</option>
							<option label="30240">39</option>
							<option label="30241">40</option>
							<option label="30242">41</option>
							<option label="30243">42</option>
							<option label="30244">43</option>
							<option label="30245">44</option>
							<option label="30246">45</option>
							<option label="30247">46</option>
							<option label="30248">47</option>
						</options>
					</constraints>
					<control type="spinner" format="string"/>
				</setting>
			</group>
			<group id="4">
				<setting id="AudioLang03" type="integer" label="30103">
					<default>47</default>
					<constraints>
						<options>
							<option label="30201">0</option>
							<option label="30202">1</option>
							<option label="30203">2</option>
							<option label="30204">3</option>
							<option label="30205">4</option>
							<option label="30206">5</option>
							<option label="30207">6</option>
							<option label="30208">7</option>
							<option label="30209">8</option>
							<option label="30210">9</option>
							<option label="30211">10</option>
							<option label="30212">11</option>
							<option label="30213">12</option>
							<option label="30214">13</option>
							<option label="30215">14</option>
							<option label="30216">15</option>
							<option label="30217">16</option>
							<option label="30218">17</option>
							<option label="30219">18</option>
							<option label="30220">19</option>
							<option label="30221">20</option>
							<option label="30222">21</option>
							<option label="30223">22</option>
							<option label="30224">23</option>
							<option label="30225">24</option>
							<option label="30226">25</option>
							<option label="30227">26</option>
							<option label="30228">27</option>
							<option label="30229">28</option>
							<option label="30230">29</option>
							<option label="30231">30</option>
							<option label="30232">31</option>
							<option label="30233">32</option>
							<option label="30234">33</option>
							<option label="30235">34</option>
							<option label="30236">35</option>
							<option label="30237">36</option>
							<option label="30238">37</option>
							<option label="30239">38</option>
							<option label="30240">39</option>
							<option label="30241">40</option>
							<option label="30242">41</option>
							<option label="30243">42</option>
							<option label="30244">43</option>
							<option label="30245">44</option>
							<option label="30246">45</option>
							<option label="30247">46</option>
							<option label="30248">47</option>
						</options>
					</constraints>
					<control type="spinner" format="string"/>
				</setting>
			</group>
			<group id="5">
				<setting label="30118" type="string" id="CustomAudio">
					<default></default>
					<constraints>
						<allowempty>false</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30118</heading>
					</control>
				</setting>
			</group>
		</category>
		<category id="Subtitle Preferences" label="30105">
			<group id="1">
				<setting id="enableSub" label="30107" type="boolean">
					<default>false</default>
					<control type="toggle"/>
				</setting>
			</group>
			<group id="2">
				<setting id="SubLang01" type="integer" label="30101">
					<default>47</default>
					<constraints>
						<options>
							<option label="30201">0</option>
							<option label="30202">1</option>
							<option label="30203">2</option>
							<option label="30204">3</option>
							<option label="30205">4</option>
							<option label="30206">5</option>
							<option label="30207">6</option>
							<option label="30208">7</option>
							<option label="30209">8</option>
							<option label="30210">9</option>
							<option label="30211">10</option>
							<option label="30212">11</option>
							<option label="30213">12</option>
							<option label="30214">13</option>
							<option label="30215">14</option>
							<option label="30216">15</option>
							<option label="30217">16</option>
							<option label="30218">17</option>
							<option label="30219">18</option>
							<option label="30220">19</option>
							<option label="30221">20</option>
							<option label="30222">21</option>
							<option label="30223">22</option>
							<option label="30224">23</option>
							<option label="30225">24</option>
							<option label="30226">25</option>
							<option label="30227">26</option>
							<option label="30228">27</option>
							<option label="30229">28</option>
							<option label="30230">29</option>
							<option label="30231">30</option>
							<option label="30232">31</option>
							<option label="30233">32</option>
							<option label="30234">33</option>
							<option label="30235">34</option>
							<option label="30236">35</option>
							<option label="30237">36</option>
							<option label="30238">37</option>
							<option label="30239">38</option>
							<option label="30240">39</option>
							<option label="30241">40</option>
							<option label="30242">41</option>
							<option label="30243">42</option>
							<option label="30244">43</option>
							<option label="30245">44</option>
							<option label="30246">45</option>
							<option label="30247">46</option>
							<option label="30248">47</option>
						</options>
					</constraints>
					<control type="spinner" format="string"/>
				</setting>
			</group>
			<group id="3">
				<setting id="SubLang02" type="integer" label="30102">
					<default>47</default>
					<constraints>
						<options>
							<option label="30201">0</option>
							<option label="30202">1</option>
							<option label="30203">2</option>
							<option label="30204">3</option>
							<option label="30205">4</option>
							<option label="30206">5</option>
							<option label="30207">6</option>
							<option label="30208">7</option>
							<option label="30209">8</option>
							<option label="30210">9</option>
							<option label="30211">10</option>
							<option label="30212">11</option>
							<option label="30213">12</option>
							<option label="30214">13</option>
							<option label="30215">14</option>
							<option label="30216">15</option>
							<option label="30217">16</option>
							<option label="30218">17</option>
							<option label="30219">18</option>
							<option label="30220">19</option>
							<option label="30221">20</option>
							<option label="30222">21</option>
							<option label="30223">22</option>
							<option label="30224">23</option>
							<option label="30225">24</option>
							<option label="30226">25</option>
							<option label="30227">26</option>
							<option label="30228">27</option>
							<option label="30229">28</option>
							<option label="30230">29</option>
							<option label="30231">30</option>
							<option label="30232">31</option>
							<option label="30233">32</option>
							<option label="30234">33</option>
							<option label="30235">34</option>
							<option label="30236">35</option>
							<option label="30237">36</option>
							<option label="30238">37</option>
							<option label="30239">38</option>
							<option label="30240">39</option>
							<option label="30241">40</option>
							<option label="30242">41</option>
							<option label="30243">42</option>
							<option label="30244">43</option>
							<option label="30245">44</option>
							<option label="30246">45</option>
							<option label="30247">46</option>
							<option label="30248">47</option>
						</options>
					</constraints>
					<control type="spinner" format="string"/>
				</setting>
			</group>
			<group id="4">
				<setting id="SubLang03" type="integer" label="30103">
					<default>47</default>
					<constraints>
						<options>
							<option label="30201">0</option>
							<option label="30202">1</option>
							<option label="30203">2</option>
							<option label="30204">3</option>
							<option label="30205">4</option>
							<option label="30206">5</option>
							<option label="30207">6</option>
							<option label="30208">7</option>
							<option label="30209">8</option>
							<option label="30210">9</option>
							<option label="30211">10</option>
							<option label="30212">11</option>
							<option label="30213">12</option>
							<option label="30214">13</option>
							<option label="30215">14</option>
							<option label="30216">15</option>
							<option label="30217">16</option>
							<option label="30218">17</option>
							<option label="30219">18</option>
							<option label="30220">19</option>
							<option label="30221">20</option>
							<option label="30222">21</option>
							<option label="30223">22</option>
							<option label="30224">23</option>
							<option label="30225">24</option>
							<option label="30226">25</option>
							<option label="30227">26</option>
							<option label="30228">27</option>
							<option label="30229">28</option>
							<option label="30230">29</option>
							<option label="30231">30</option>
							<option label="30232">31</option>
							<option label="30233">32</option>
							<option label="30234">33</option>
							<option label="30235">34</option>
							<option label="30236">35</option>
							<option label="30237">36</option>
							<option label="30238">37</option>
							<option label="30239">38</option>
							<option label="30240">39</option>
							<option label="30241">40</option>
							<option label="30242">41</option>
							<option label="30243">42</option>
							<option label="30244">43</option>
							<option label="30245">44</option>
							<option label="30246">45</option>
							<option label="30247">46</option>
							<option label="30248">47</option>
						</options>
					</constraints>
					<control type="spinner" format="string"/>
				</setting>
			</group>
			<group id="5">
				<setting label="30119" type="string" id="CustomSub">
					<default></default>
					<constraints>
						<allowempty>false</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30119</heading>
					</control>
				</setting>
			</group>
		</category>
		<category id= "Conditional Subtitle Preferences" label="30106">
			<group id="1">
				<setting id="enableCondSub" label="30107" type="boolean">
					<default>false</default>
					<control type="toggle"/>
				</setting>
			</group>
			<group id="2">
				<setting id="CondAudioLang01" type="integer" label="30110">
					<default>47</default>
					<constraints>
						<options>
							<option label="30201">0</option>
							<option label="30202">1</option>
							<option label="30203">2</option>
							<option label="30204">3</option>
							<option label="30205">4</option>
							<option label="30206">5</option>
							<option label="30207">6</option>
							<option label="30208">7</option>
							<option label="30209">8</option>
							<option label="30210">9</option>
							<option label="30211">10</option>
							<option label="30212">11</option>
							<option label="30213">12</option>
							<option label="30214">13</option>
							<option label="30215">14</option>
							<option label="30216">15</option>
							<option label="30217">16</option>
							<option label="30218">17</option>
							<option label="30219">18</option>
							<option label="30220">19</option>
							<option label="30221">20</option>
							<option label="30222">21</option>
							<option label="30223">22</option>
							<option label="30224">23</option>
							<option label="30225">24</option>
							<option label="30226">25</option>
							<option label="30227">26</option>
							<option label="30228">27</option>
							<option label="30229">28</option>
							<option label="30230">29</option>
							<option label="30231">30</option>
							<option label="30232">31</option>
							<option label="30233">32</option>
							<option label="30234">33</option>
							<option label="30235">34</option>
							<option label="30236">35</option>
							<option label="30237">36</option>
							<option label="30238">37</option>
							<option label="30239">38</option>
							<option label="30240">39</option>
							<option label="30241">40</option>
							<option label="30242">41</option>
							<option label="30243">42</option>
							<option label="30244">43</option>
							<option label="30245">44</option>
							<option label="30246">45</option>
							<option label="30247">46</option>
							<option label="30248">47</option>
						</options>
					</constraints>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="CondSubLang01" type="integer" label="30111">
					<default>47</default>
					<constraints>
						<options>
							<option label="30201">0</option>
							<option label="30202">1</option>
							<option label="30203">2</option>
							<option label="30204">3</option>
							<option label="30205">4</option>
							<option label="30206">5</option>
							<option label="30207">6</option>
							<option label="30208">7</option>
							<option label="30209">8</option>
							<option label="30210">9</option>
							<option label="30211">10</option>
							<option label="30212">11</option>
							<option label="30213">12</option>
							<option label="30214">13</option>
							<option label="30215">14</option>
							<option label="30216">15</option>
							<option label="30217">16</option>
							<option label="30218">17</option>
							<option label="30219">18</option>
							<option label="30220">19</option>
							<option label="30221">20</option>
							<option label="30222">21</option>
							<option label="30223">22</option>
							<option label="30224">23</option>
							<option label="30225">24</option>
							<option label="30226">25</option>
							<option label="30227">26</option>
							<option label="30228">27</option>
							<option label="30229">28</option>
							<option label="30230">29</option>
							<option label="30231">30</option>
							<option label="30232">31</option>
							<option label="30233">32</option>
							<option label="30234">33</option>
							<option label="30235">34</option>
							<option label="30236">35</option>
							<option label="30237">36</option>
							<option label="30238">37</option>
							<option label="30239">38</option>
							<option label="30240">39</option>
							<option label="30241">40</option>
							<option label="30242">41</option>
							<option label="30243">42</option>
							<option label="30244">43</option>
							<option label="30245">44</option>
							<option label="30246">45</option>
							<option label="30247">46</option>
							<option label="30248">47</option>
						</options>
					</constraints>
					<control type="spinner" format="string"/>
				</setting>
			</group>
			<group id="3">
				<setting id="CondAudioLang02" type="integer" label="30110">
					<default>47</default>
					<constraints>
						<options>
							<option label="30201">0</option>
							<option label="30202">1</option>
							<option label="30203">2</option>
							<option label="30204">3</option>
							<option label="30205">4</option>
							<option label="30206">5</option>
							<option label="30207">6</option>
							<option label="30208">7</option>
							<option label="30209">8</option>
							<option label="30210">9</option>
							<option label="30211">10</option>
							<option label="30212">11</option>
							<option label="30213">12</option>
							<option label="30214">13</option>
							<option label="30215">14</option>
							<option label="30216">15</option>
							<option label="30217">16</option>
							<option label="30218">17</option>
							<option label="30219">18</option>
							<option label="30220">19</option>
							<option label="30221">20</option>
							<option label="30222">21</option>
							<option label="30223">22</option>
							<option label="30224">23</option>
							<option label="30225">24</option>
							<option label="30226">25</option>
							<option label="30227">26</option>
							<option label="30228">27</option>
							<option label="30229">28</option>
							<option label="30230">29</option>
							<option label="30231">30</option>
							<option label="30232">31</option>
							<option label="30233">32</option>
							<option label="30234">33</option>
							<option label="30235">34</option>
							<option label="30236">35</option>
							<option label="30237">36</option>
							<option label="30238">37</option>
							<option label="30239">38</option>
							<option label="30240">39</option>
							<option label="30241">40</option>
							<option label="30242">41</option>
							<option label="30243">42</option>
							<option label="30244">43</option>
							<option label="30245">44</option>
							<option label="30246">45</option>
							<option label="30247">46</option>
							<option label="30248">47</option>
						</options>
					</constraints>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="CondSubLang02" type="integer" label="30111">
					<default>47</default>
					<constraints>
						<options>
							<option label="30201">0</option>
							<option label="30202">1</option>
							<option label="30203">2</option>
							<option label="30204">3</option>
							<option label="30205">4</option>
							<option label="30206">5</option>
							<option label="30207">6</option>
							<option label="30208">7</option>
							<option label="30209">8</option>
							<option label="30210">9</option>
							<option label="30211">10</option>
							<option label="30212">11</option>
							<option label="30213">12</option>
							<option label="30214">13</option>
							<option label="30215">14</option>
							<option label="30216">15</option>
							<option label="30217">16</option>
							<option label="30218">17</option>
							<option label="30219">18</option>
							<option label="30220">19</option>
							<option label="30221">20</option>
							<option label="30222">21</option>
							<option label="30223">22</option>
							<option label="30224">23</option>
							<option label="30225">24</option>
							<option label="30226">25</option>
							<option label="30227">26</option>
							<option label="30228">27</option>
							<option label="30229">28</option>
							<option label="30230">29</option>
							<option label="30231">30</option>
							<option label="30232">31</option>
							<option label="30233">32</option>
							<option label="30234">33</option>
							<option label="30235">34</option>
							<option label="30236">35</option>
							<option label="30237">36</option>
							<option label="30238">37</option>
							<option label="30239">38</option>
							<option label="30240">39</option>
							<option label="30241">40</option>
							<option label="30242">41</option>
							<option label="30243">42</option>
							<option label="30244">43</option>
							<option label="30245">44</option>
							<option label="30246">45</option>
							<option label="30247">46</option>
							<option label="30248">47</option>
						</options>
					</constraints>
					<control type="spinner" format="string"/>
				</setting>
			</group>
			<group id="4">
				<setting id="CondAudioLang03" type="integer" label="30110">
					<default>47</default>
					<constraints>
						<options>
							<option label="30201">0</option>
							<option label="30202">1</option>
							<option label="30203">2</option>
							<option label="30204">3</option>
							<option label="30205">4</option>
							<option label="30206">5</option>
							<option label="30207">6</option>
							<option label="30208">7</option>
							<option label="30209">8</option>
							<option label="30210">9</option>
							<option label="30211">10</option>
							<option label="30212">11</option>
							<option label="30213">12</option>
							<option label="30214">13</option>
							<option label="30215">14</option>
							<option label="30216">15</option>
							<option label="30217">16</option>
							<option label="30218">17</option>
							<option label="30219">18</option>
							<option label="30220">19</option>
							<option label="30221">20</option>
							<option label="30222">21</option>
							<option label="30223">22</option>
							<option label="30224">23</option>
							<option label="30225">24</option>
							<option label="30226">25</option>
							<option label="30227">26</option>
							<option label="30228">27</option>
							<option label="30229">28</option>
							<option label="30230">29</option>
							<option label="30231">30</option>
							<option label="30232">31</option>
							<option label="30233">32</option>
							<option label="30234">33</option>
							<option label="30235">34</option>
							<option label="30236">35</option>
							<option label="30237">36</option>
							<option label="30238">37</option>
							<option label="30239">38</option>
							<option label="30240">39</option>
							<option label="30241">40</option>
							<option label="30242">41</option>
							<option label="30243">42</option>
							<option label="30244">43</option>
							<option label="30245">44</option>
							<option label="30246">45</option>
							<option label="30247">46</option>
							<option label="30248">47</option>
						</options>
					</constraints>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="ConsSubLang03" type="integer" label="30111">
					<default>47</default>
					<constraints>
						<options>
							<option label="30201">0</option>
							<option label="30202">1</option>
							<option label="30203">2</option>
							<option label="30204">3</option>
							<option label="30205">4</option>
							<option label="30206">5</option>
							<option label="30207">6</option>
							<option label="30208">7</option>
							<option label="30209">8</option>
							<option label="30210">9</option>
							<option label="30211">10</option>
							<option label="30212">11</option>
							<option label="30213">12</option>
							<option label="30214">13</option>
							<option label="30215">14</option>
							<option label="30216">15</option>
							<option label="30217">16</option>
							<option label="30218">17</option>
							<option label="30219">18</option>
							<option label="30220">19</option>
							<option label="30221">20</option>
							<option label="30222">21</option>
							<option label="30223">22</option>
							<option label="30224">23</option>
							<option label="30225">24</option>
							<option label="30226">25</option>
							<option label="30227">26</option>
							<option label="30228">27</option>
							<option label="30229">28</option>
							<option label="30230">29</option>
							<option label="30231">30</option>
							<option label="30232">31</option>
							<option label="30233">32</option>
							<option label="30234">33</option>
							<option label="30235">34</option>
							<option label="30236">35</option>
							<option label="30237">36</option>
							<option label="30238">37</option>
							<option label="30239">38</option>
							<option label="30240">39</option>
							<option label="30241">40</option>
							<option label="30242">41</option>
							<option label="30243">42</option>
							<option label="30244">43</option>
							<option label="30245">44</option>
							<option label="30246">45</option>
							<option label="30247">46</option>
							<option label="30248">47</option>
						</options>
					</constraints>
					<control type="spinner" format="string"/>
				</setting>
			</group>
			<group id="5">
				<setting label="30120" type="string" id="CustomCondSub">
					<default></default>
					<constraints>
						<allowempty>false</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30120</heading>
					</control>
				</setting>
			</group>
		</category>	
	</section>
</settings>
